:root{
    --width_block: 410px;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-top: 50px;
    background-color: #fafafa;
	color: #434250;
	padding-bottom: 250px;
    margin: 0 auto;
}
.container {
    padding-left: 160px;
    padding-right: 160px;
}
.content-top {
    text-align: center;
    line-height: 75px;
}
.content-top__top {
    font-size: 50px;
    font-weight: 200;
}
.content-top__middle {
    font-size: 50px;
    font-weight: 800;
}
.content-top__middle a{
    color: #434250;
}
.content-top__bottom{
    font-size: 32px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.content-bottom{
    position: relative;
    margin: 0 auto;
}
.image img{
		width: 75px;
		/*height: 35px;*/
}
.block_title {
    font-weight: bold;
    font-size: 28px;
}
.subtitle {
    font-weight: 200;
    font-size: 20px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.block1 {
    background-color: white;
    border-radius: 15px;
    border-top: 10px solid red;
    box-shadow: 5px 5px 25px #dce6f1;
    padding: 25px;
	width: var(--width_block);
    position: absolute;
    left: 462.5px;
}
.block1:hover{
    transform: scale(1.05);
    transition: 1.1s;
}
.block2 {
    background-color: white;
    border-radius: 15px;
    border-top: 10px solid blue;
    box-shadow: 5px 5px 25px #dce6f1;
    padding: 25px;
	width: var(--width_block);
    position: absolute;
    left: 900px;
    top: 120px;
}
.block2:hover{
    transform: scale(1.05);
    transition: 1.1s;
}
.block3 {
    background-color: white;
    border-radius: 15px;
    border-top: 10px solid cyan;
    box-shadow: 5px 5px 25px #dce6f1;
    padding: 25px;
	width: var(--width_block);
    position: absolute;
    left: 25px;
    top: 120px;
}
.block3:hover{
    transform: scale(1.05);
    transition: 1.1s;
}
.block4 {
    background-color: white;
    border-radius: 15px;
    border-top: 10px solid yellow;
    box-shadow: 5px 5px 25px #dce6f1;
    padding: 25px;
	width: var(--width_block);
    position: absolute;
    left: 462.5px;
    top: 320px;
    z-index: 1;    
}
.block4:hover{
    transform: scale(1.05);
    transition: 1.1s;
}
/*.block1_block2{
	display: flex;
	gap: 50px
}
.block3_block4{
	display: flex;
	gap: 50px;
	margin-top: 100px;
}*/
@media screen and (max-width:1335px){
    :root{
        --width_block: 430px;
    }
    .block_title {
        font-size: 32px;
    }
    .subtitle {
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 28px;
    }
    .block1 {
        width: var(--width_block);
        position: absolute;
        left: 414.5px;
        }
    .block2 {
        width: var(--width_block);
        position: absolute;
        left: 630px;
        top: 320px;
        }
    .block3 {
        width: var(--width_block);
        position: absolute;
        left: 130px;
        top: 320px;
        }
    .block4 {
        width: var(--width_block);
        position: absolute;
        left: 392.5px;
        top: 640px;  
        
        }
}
@media screen and (max-width:1191px){
    :root{
        --width_block: 600px;
        
    }
    .block1 {
        width: var(--width_block);
        position: absolute;
        left: 130px;
        }
    .block2 {
        width: var(--width_block);
        position: absolute;
        left: 400px;
        top: 320px;
        }
    .block3 {
        width: var(--width_block);
        position: absolute;
        left: 130px;
        top: 630px;
        }
    .block4 {
        width: var(--width_block);
        position: absolute;
        left: 400px;
        top: 930px;  
        }
    }
@media screen and (max-width:1023px){
    :root{
        --width_block: 65vw;
    }
    .container{
        padding-left: 5.8vw;
        padding-right: 5.8vw;
    }
    .content-top__top{
        font-size: 6vw;
    }
    .content-top__middle{
        font-size: 6vw;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .content-top__bottom{
        font-size: 4vw;
        line-height: 5vw;
    }
    .block_title {
        font-size: 4.5vw;
    }
    .subtitle {
        font-weight: 200;
        font-size: 3.5vw;
        line-height: 5vw;
        margin-top: 20px;
        margin-bottom: 28px;
    }
    .block1 {
        width: var(--width_block);
        position: static;
        margin: 0 auto;
        }
    .block2 {
        width: var(--width_block);
        position: static;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 120px;
        }
    .block3 {        
        width: var(--width_block);
        position: static;
        margin: 0 auto;
        margin-bottom: 120px;
    }
    .block4 {
        width: var(--width_block);
        position: static;
        margin: 0 auto;
        }
    }